.sidebar {
    background-color: var(--background-color);
    border-right: 3px solid var(--border-color);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 15px;
    height: calc(100vh - 60px);
    /* Adjust height to be below the navbar */
    /* fixed means it doesn't move when we scroll */
    top: 60px;
    /* Height of the navbar */
    width: 240px;
}

.sidebar-button {
    display: inline-flex;
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    border-left: 5px solid var(--primary-color);
    margin-bottom: 15px;
}

.sidebar-button:hover {
    background-color: var(--secondary-color);
}

.sidebar-button:active {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.sidebar-icon {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    background-size: cover;
}

.sidebar-icon-patients {
    background-image: url('../../icons/people.svg');
}

.sidebar-icon-appointments {
    background-image: url('../../icons/clipboard.svg');
}

.sidebar-icon-calendar {
    background-image: url('../../icons/calendar.svg');
}

.sidebar-icon-msg {
    background-image: url('../../icons/send.svg');
}

.sidebar-icon-form {
    background-image: url('../../icons/align-center.svg');
}